@font-face {
    font-family: Museo700;
    src: url(Museo700-Regular.otf);
}

/* Text */

p {
    text-align: left;
    font-family: Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 8pt;
}

margin#p {
    margin-bottom: 16pt;
}

li {
    text-align: left;
    font-family: Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

margin#ul {
    margin-bottom: 8pt;
}

h1 {
    text-align: left;
    font-family: Museo700, Helvetica, sans-serif;
    font-size: 46pt;
    color: #e61e2a;
}

h2 {
    text-align: left;
    font-family: Museo700, Helvetica, sans-serif;
    font-size: 22pt;
    color: #e61e2a;
    margin-top: 12pt;
    margin-bottom: 6pt;
}

h3 {
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 18pt;
    color: #000054;
    margin-top: 12pt;
    margin-bottom: 6pt;
}



/* Background */

body {
    background-color: #e3e5e0;
    margin: 20px 400px 20px 400px;
}

img {
    position: relative;
    float: right;
    display: block;
    border-radius: 8px;
    margin-top: 12pt;
    margin-bottom: 6pt;
    margin-left: 12pt;
    margin-right: 0;
}